body {
    max-width: 800px;
    margin: auto;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: column;
    height: 100vh;
    color: #464646;
}

.sample-scroll-text {
    margin-top: auto;
    margin-bottom: 1rem;
}
